doctype html
html(class=html_class)
	- base_link = ('home' == page ? '.' : '..')

	head
		meta(charset="UTF-8")
		meta(
			content="width=device-width, initial-scale=1"
			name="viewport"
		)

		title Ramda Documentation

		- href = base_link + "/style.css"
		link(
			href=href
			rel="stylesheet"
			type="text/css"
		)

		block styles

		block scripts

	body
		input#open-nav(type="checkbox")
		header.navbar.navbar-fixed-top.navbar-inverse.container-fluid
			.container-fluid
				.navbar-header
					label.open-nav(for="open-nav")
					a.navbar-brand(href="#")
						strong Ramda
						span.version  v#{version}

				ul.nav.navbar-nav.navbar-left
					- active = ('home' == page) ? 'active' : ''
					- href = base_link + "/"
					li(class=active): a(href=href) Home

					- active = ('docs' == page) ? 'active' : ''
					- href = base_link + "/docs/"
					li(class=active): a(href=href) Documentation

					- active = ('repl' == page) ? 'active' : ''
					- href = base_link + "/repl/"
					li(class=active): a(href=href) Try Ramda

				ul.nav.navbar-nav.navbar-right
					li: a(href="http://functional-programming.cn", target="_blank") 中文论坛
					li: a(href="https://github.com/ramda/ramda") GitHub
					li: a(href="https://gitter.im/ramda/ramda") Discuss

		block main

		script.
			window.gitter = {
				chat: {
					options: {
						room: 'ramda/ramda'
					}
				}
			}

		script(
			async
			defer
			src="https://sidecar.gitter.im/dist/sidecar.v1.js"
		)

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-97388892-1', 'auto');
			ga('send', 'pageview');

		script.
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?f64268fd32ecd708159ae5467dc8099f";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
